{% extends 'projects/base.html' %}

{% load static %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4">About Jessica</h1>
    <p class="lead">I am currently pursuing a Bachelor of Liberal Arts, Extension Studies, Harvard University with a concentration in Social Sciences and a minor in Computer Science. I am front-end development focused with intermediate skills in design fundamentals, HTML/CSS, JavaScript and also in backend languages such as Python, C, and Java. Throughout my career I have driven results by being organized, focusing on the big picture, and building a foundation of flexibility. I am seeking a web developer(Django preferred!), a front-end engineer position, or as a User Experience Researcher to start solving user-focused problems and turn learning into a career.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
</div>

{% endblock %}