{% extends 'projects/base.html' %}

{% load static %}

{% block content %}

        <h2>Projects</h2>
        <!-- Add buttons for each project and remove the Read More buttons below -->
        <div class="row" id="project_view">
        {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-2">
                    <img class="card-img-top" src="{% static project.image %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <a href="{% url 'projects:project_detail' project.pk %}"class="btn btn-primary" id="button_more">Read More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

{% endblock %}

<!-- TODO: remove the detail.html page and replace it with a responsive view
    Reference the Django mail app I made for class. The inbox.html is similar-->